h1{
    display:flex;
    justify-content: center;
    color: #73260A;
  }
  
  .wbtimg {
    width:20%;
    height: 20%;
    margin: 5px;
    transition:all 1s ease;
  }
  
  .wbtimg:hover {
    transform: scale(1.5);
    /* Apply the blur effect to the background */
    backdrop-filter: blur(1505px);
  }
  
  .photogallery {
    display:flex;
    align-content: flex-start;
    flex-flow: row wrap;
  }

  
  /* Center the images in the photogallery */
  .photogallery {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  