@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  top: 0;
  font-size: 1.15rem;
  font-weight: 700;
  background-color: rgba(0, 128, 0, 0.3) !important; /* Şeffaf yeşil renk */
  backdrop-filter: blur(50px);
  position: fixed;
  z-index: 100;
  width: 100%;
}
.navbar a.active {
  color: rgb(255, 255, 255) !important;
  font-size: 1.50rem;
}

.navbar a:hover {
  font-size: 1.5rem; /* Düzeltildi */
  transition: font-size 0.3s ease; /* transition düzeltildi */
}





@media(max-width: 768px) {
  .navbar{
    text-align: center;
  }
  #wbtNavImage{
    display: none ;
  }
}