{% extends 'dashboard.html' %}
{% block content %}
{% block title %}

<title>Upload Certificates</title>
{% endblock title %}
{% if messages %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    {% for message in messages %}
    <strong class="text-center">{{ message }}</strong>

    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
  </div>
  {% endif %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sertifika Yükle</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">Sertifika Adı</label>
                            <input type="text" class="form-control" name="{{ form.name.html_name }}">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.image.id_for_label }}">Sertifika Logosu</label>
                            <div class="custom-file">
                                <label class="custom-file-label" for="{{ form.image.id_for_label }}"><i class="fas fa-cloud-arrow-up"></i> Logo Seçin</label>
                                <input type="file" class="custom-file-input" name="{{ form.image.name }}" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.image.id_for_label }}">Sertifika Logosu</label>
                            <div class="custom-file">
                                <label  class="custom-file-label" for="{{ form.document.id_for_label }}"><i class="fas fa-cloud-arrow-up"></i> Belge Seçin</label>
                                <input title="Fotoğraf Olarak Yüklenmelidir..." type="file" class="custom-file-input" name="{{ form.document.name }}" accept="image/*">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Yükle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}
